In [56]:
#add dependencies
import pandas as pd

#create variable to hold path for csv file
HOP_purchase_data = "Resources/HOP_purchase_data.csv"

#read csv file and store in pd frame
original_df = pd.read_csv(HOP_purchase_data)

#print head to view first 5 rows of dat and column headers
original_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [57]:
playerNames = len(original_df["SN"].unique())

#Age Demographics

#create bins for ages
ageBins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 150]
ageBinsNames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Slice data intogroupd using pd.cut
original_df["Age Group"] = pd.cut(original_df["Age"], ageBins, labels = ageBinsNames,)

#group data into bins
ageGroup = original_df.groupby("Age Group")

#count number of unique plapyers by age for age group
totalCountAge = ageGroup["SN"].nunique()

#percentage of players by age group
percentAgeGroup = (totalCountAge / playerNames) * 100

#create new data frame with appropriate columns
ageDemographics_df = pd.DataFrame({"Total Player Count": totalCountAge, "Percent of Players": percentAgeGroup})

#add % to percent values
ageDemographics_df["Percent of Players"] = ageDemographics_df["Percent of Players"].map("{:,.2f}%".format)

ageDemographics_df

           Total Player Count Percent of Players
Age Group
<10                        17              2.95%
10-14                      22              3.82%
15-19                     107             18.58%
20-24                     258             44.79%
25-29                      77             13.37%
30-34                      52              9.03%
35-39                      31              5.38%
40+                        12              2.08%

In [59]:
#Purchasing Analysis by Age
countPurchases = ageGroup["Purchase ID"].count()

#average Purchase Price
averagePurchasePrice = ageGroup["Price"].mean()

#total purcahse value
totalPurchaseValue = ageGroup["Price"].sum()

#average total purchase per person
averagePersonPurchase = totalPurchaseValue / totalCountAge

#create new data frame with appropriste columns
purchaseAnalysisByAge = pd.DataFrame({})

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64