In [80]:
#add dependencies
import pandas as pd

#create variable to hold path for csv file
HOP_purchase_data = "Resources/HOP_purchase_data.csv"

#read csv file and store in pd frame
original_df = pd.read_csv(HOP_purchase_data)

#print head to view first 5 rows of dat and column headers
original_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [97]:
#Most Popular Items

#group the df by item, id, and item name    
popular_items = original_df.groupby(["Item ID","Item Name"])

# Calculate purchase count for each purchase id
purchase_count = popular_items["Purchase ID"].count()

# Calculate total price for each group values
total_value = popular_items["Price"].sum()

# Calculate item price by dividing total to count of purchase 
item_price = total_value / purchase_count


# Create a data frame to display data
top_items = pd.DataFrame({"Purchase Count": purchase_count,
                         "Item Price": item_price,
                         "Total Purchase Value": total_value})

# Sort the data to get top five popular items
popular_df = top_items.sort_values(["Purchase Count"], ascending = False)

# Format the values
popular_df["Item Price"] = popular_df["Item Price"].map("${:.2f}".format)
popular_df["Total Purchase Value"] = popular_df["Total Purchase Value"].map("${:.2f}".format)
                                                          
popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [99]:
# Sort the data frame by total purchase value 
profitable_items = top_items.sort_values(["Total Purchase Value"], ascending = False)

# Display the new data frame
profitable_items.head()

AttributeError: 'list' object has no attribute 'map'